:root {
    --primary: #f6feaa;
    --secundary: #C7DFC5;
    --text-color: #FFF;
    --text-secondary: #000;
    --text-tertiary: #373737;
}
* {
    font-family: 'Hammersmith One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#imagem-chef {
    height: 100%;
}

#main-img {
    height: 100%;
    width: 100%;
}

/*Event Form*/
#chef-description {
    background: linear-gradient(rgba(0, 0, 0, 0.573), rgba(0, 0, 0, 0.573)), url("../img/img15.jpeg");
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
    row-gap: 10px;
}

#disclaimer h2, 
#disclaimer .types-food {
    color: var(--secundary);
}

#disclaimer h2 {
    font-size: 3em;
    margin-bottom: 1em;
}

#disclaimer .about-chef {
    font-size: 2.2em;
    text-transform: uppercase;
    max-width: 350px;
    font-weight: bold;
    margin-bottom: 1em;
}

#disclaimer p {
    font-size: 1.4em;
    margin-bottom: 0.3em;
}

#disclaimer .types-food {
    font-weight: bold;
}

/*Products section*/
#key-products h2{
    background-color: var(--secundary);
    text-align: center;
    padding: 2em;
    font-weight: 500;
    color: #373737; 
}

.products {
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 80%;
    margin: 0 auto;
}

.product {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color: var(--text-tertiary);
}

.product .product-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}

#product-1 {
    background-image: url("../img/img4.jpg");
}

#product-2 {
    background-image: url("../img/img5.jpg");
}

#product-3 {
    background-image: url("../img/img7.jpg");
}

/*Events location*/
#location {
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.573), rgba(0, 0, 0, 0.573)), url("../img/img21.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    margin-bottom: 3em;
}

#adress, 
#about-location {
    max-width: 30%;
}

#adress {
    display: flex;
}
#adress i {
    color: var(--secundary);
    font-size: 4em;
    margin-right: 0.5em;
}
#address-details {
    text-align: center;
    font-size: 1.3em;
}
#about-location h3 {
    color: var(--secundary);
    font-size: 2.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}
#about-location p {
    line-height: 1.5em;
}

.title2 h2{
    background-color: var(--secundary);
    text-align: center;
    padding: 2em;
    font-weight: 100;
    color: #373737; 
    margin-top: -48px;
    margin-bottom: 70px;
}

/*Events details container*/

#details{
    width: 80%;
    margin: 0 auto;
}

.detail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 3.5em;
}

.detail img {
    width: 28%;
}

.detail h3 {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 500;
    color: var(--text-tertiary);
}

.detail-description {
    color: var(--text-tertiary);
    width: 100%;
    padding-left: 2em;
    font-size: 13.5pt;
}

.detail-description ul {
    list-style-position: inside;
}

.detail-description ul li{
    margin-bottom: 0.4em;
}

.detail-description ul li:last-child{
    font-weight: bold;
}

/*Call to Action*/
#cta {
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.573), rgba(0, 0, 0, 0.573)), url("../img/img30.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--secundary);
}

#cta h3 {
    margin-bottom: 1.2em;
    font-size: 2em;
    font-weight: 500;
}

.btn {
    background-color: var(--secundary);
    color: var(--text-secondary);
    text-transform: uppercase;
    width: 100%;
    padding: 12px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}
  
.btn:hover {
    opacity: 1;
}

#cta .btn {
    width: 25%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.2em;
}

/*Footer*/

#footer {
    text-align: center;
    color: var(--text-tertiary);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer h3 {
    color: rgb(42, 42, 42);
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

#footer p:nth-child(2){
    margin-bottom: 1em;
    font-size: 1.2em;
}

#footer span {
    font-weight: bold;
}